:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/*------------ logo --------------*/

.header__logotype,
.footer__logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header__logotype {
  margin-right: 93px;
  color: #000000;
}

.header__logo,
.footer__logo {
  color: var(--accent-color);
}
.header__logotype:focus,
.footer__logotype:hover,
.header__logotype:hover,
.footer__logotype:focus {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*------------ header --------------*/

.header {
  padding: 25px 0;
  background-color: var(--white-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
}
.nav {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-nav__item + .header-nav__item {
  margin-left: 50px;
}
.header__list {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.header__item + .header__item {
  margin-left: 50px;
}
.header-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 33px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: 250ms var(--timing-function);
}
.underline {
  color: var(--accent-color);
}
.underline::after {
  position: absolute;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}

/*------------ contact --------------*/

.header__contact {
  display: inline-flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.header__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.footer__contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.header__contact:hover,
.header__contact:focus,
.footer__contact:hover,
.footer__contact:focus {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}

/*------------ hero --------------*/

.hero {
  padding: 200px 0;
  text-align: center;
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-color: #c4c4c4;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/*------------ button --------------*/

.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: #2196f3;
  color: var(--white-color);
}

/*------------ section features --------------*/

.features {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
}
.features__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.features__item + .features__item {
  margin-left: 30px;
}
.features__item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.antenna-icon::before {
  background-image: url(../images/antenna.svg);
}
.clock-icon::before {
  background-image: url(../images/clock.svg);
}
.diagram-icon::before {
  background-image: url(../images/diagram.svg);
}
.astronaut-icon::before {
  background-image: url(../images/astronaut.svg);
}

.features__title {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features__text {
  margin-bottom: 0;
  margin-top: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*------------ section work --------------*/

.work {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.work__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.work__item + .work__item {
  margin-left: 30px;
}
.work__item-img {
  position: relative;
}
.work__item-img::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  position: absolute;
  margin: 0;
  bottom: 27px;
  left: 83px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.work__img {
  display: block;
}

/*------------ section comand --------------*/

.comand {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 94px 0 94px 0;

  background-color: #f5f4fa;
}

.comand__title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.comand__list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;

  text-align: center;
}

.comand__item + .comand__item {
  margin-left: 30px;
}
.comand__item {
  background: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand-title__man-text {
  padding-top: 30px;
  padding-bottom: 0;
}
.comand__img {
  display: block;
}
.comand__title-man {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03e;
  color: var(--title-text-color);
}
.comand__text {
  margin-top: 10px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.comand-social__list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 0;
}
.comand-social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--white-color);
  width: 44px;
  height: 44px;
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.comand-social__icon {
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.comand-social__item + .comand-social-item {
  margin-left: 10px;
}
.comand-social__link:hover,
.comand-social__link:focus {
  fill: var(--white-color);
  background-color: #2196f3;

  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

/*------------ section clients --------------*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.clients__icon {
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid #2196f3;

  fill: #2196f3;

  transition: fill 250ms var(--timing-function);
}
.clients__item + .clients-item {
  margin-left: 30px;
}

/*------------ modal --------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 4px;
}
.modal__btn {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__svg {
  background-image: url(../images/Vector.svg);
  background-size: cover;
}
.modal__svg:hover,
.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}
.form__title {
  margin-top: 2px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form__name {
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
}
.form__phone {
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
}
.form__mail {
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
}
.form__coment {
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.form__svg {
  position: absolute;
  left: 12px;
  top: 50%;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__field:focus-within > .form-svg {
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}
.form__input:hover {
  border: 1px solid var(--accent-color);
  transition: border 250ms var(--timing-function);
}
.form__field:hover > .form__svg {
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}

.form__word {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__input {
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms var(--timing-function);
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
}
.form__textarea:hover {
  border: 1px solid var(--accent-color);
  transition: border 250ms var(--timing-function);
}
.checkbox__block {
  display: inline-flex;
  align-items: center;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  cursor: pointer;

  color: #757575;
}
.checkbox__icon {
  position: relative;
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-left: 54px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.checkbox:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: padding-box;
}
.checkbox__svg {
  position: absolute;
  top: -2px;
  right: -2px;
}
.checkbox__link {
  color: var(--accent-color);
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.form__submit {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background: #188ce8;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*------------ footer --------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer__logotype {
  margin-top: 60px;
  margin-bottom: 0;

  color: var(--white-color);
}
.footer__adress {
  margin-top: 20px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer__list {
  margin: 0;
  padding-left: 0;
}
.footer__item {
  margin-top: 9px;
  margin-bottom: 0;
}
.footer-social {
  display: flex;
}
.footer-social__icons {
  margin-left: 70px;
}
.footer-social__title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-social__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding-left: 0;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #2196f3;

  transition: background-color 250ms var(--timing-function);
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.send {
  margin-left: 93px;
}
.send__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.send__mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #afb1b8;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}

.send__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  margin-left: 12px;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.send__icon {
  margin-left: 10px;
  margin-right: 28px;
}

/*------------ portfolio --------------*/

.portfolio {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}
.filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter__btn {
  border-radius: 4px;
  padding: 6px 22px;
}
.filter__btn {
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: #2196f3;
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.filter__list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.filter__item + .filter__item {
  margin-left: 8px;
}

/*------------ section progect --------------*/

.progect__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin: 0;
  padding: 0;
  margin-bottom: -30px;
  margin-left: -30px;
}
.progect__border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.progect__item {
  margin-left: 30px;
  margin-bottom: 30px;
}
.progect__item:hover,
.progect__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  transition: box-shadow 250ms var(--timing-function);
}
.overlay__text {
  position: absolute;

  display: inline-block;
  margin: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.progect__overlay {
  position: relative;
  overflow: hidden;
}
.progect__overlay::before {
  position: absolute;
  transform: translateY(100%);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
  content: '';

  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.progect__item:hover .progect__overlay::before {
  transform: translateY(0);

  opacity: 1;
}
.progect__item:hover .overlay__text {
  transform: translateY(-100%);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.progect__title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.progect__text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.progect__img {
  display: block;
}
