:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: #e5e5e5;
}

/* logo */

.header-logotype,
.footer-logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header-logotype {
  margin-right: 93px;
  color: #000000;
}

.header-logo,
.footer-logo {
  color: var(--accent-color);
}
.header-logotype:hover,
.header-logotype:focus,
.footer-logotype:hover,
.footer-logotype:focus {
  color: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* header */

.header {
  padding: 25px 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
}
.nav {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-nav-item + .header-nav-item {
  margin-left: 50px;
}
.header-list {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.header-item + .header-item {
  margin-left: 50px;
}
.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
/* contact */
.header-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.header-contact:hover,
.header-contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
/* section hero*/

.hero {
  padding: 200px 0;
  background-color: #2f303a;
  text-align: center;
}
.footer {
  background-color: #2f303a;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* buttons */

.hero-btn {
  margin-top: 30px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.filter-btn {
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* section features */
.features {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
}
.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.features-item + .features-item {
  margin-left: 30px;
}

.features-title {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  margin-bottom: 0;
  margin-top: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* section work */

.work {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.work-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.work-item + .work-item {
  margin-left: 30px;
}
.work-img {
  display: block;
}

/* section comand */

.comand {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 94px 0 94px 0;

  background-color: #f5f4fa;
}

.comand-title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.comand-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;

  text-align: center;
}

.comand-item + .comand-item {
  margin-left: 30px;
}
.comand-item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand-title-man-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.comand-title-man {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03e;
  color: var(--title-text-color);
}
.comand-text {
  margin-top: 10px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.comand-img {
  display: block;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logotype {
  margin-top: 60px;
  margin-bottom: 0;

  color: #ffffff;
}
.footer-adress {
  margin-top: 20px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-list {
  margin: 0;
  padding-left: 0;
}
.footer-item {
  margin-top: 9px;
  margin-bottom: 0;
}

/* ***portfolio*** */

.portfolio {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
.filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-btn {
  border-radius: 4px;
  padding: 6px 22px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.filter-item + .filter-item {
  margin-left: 8px;
}

/* section progect */
.progect-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin: 0;
  padding: 0;
  margin-bottom: -30px;
  margin-left: -30px;
}
.progect-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.progect-item {
  margin-left: 30px;
  margin-bottom: 30px;
}
.progect-title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.progect-text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.progect-img {
  display: block;
}
