:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/*------------ logo --------------*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*------------ header --------------*/

.underline {
  color: var(--accent-color);
}
.underline::after {
  position: absolute;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-nav__link:hover,
.header-nav__link:focus {
}

/*------------ contact --------------*/

/*------------ hero --------------*/

/*------------ button --------------*/

/*------------ section features --------------*/

/*------------ section work --------------*/

/*------------ section comand --------------*/

/*------------ section clients --------------*/

/*------------ modal --------------*/

/*------------ footer --------------*/

/*------------ portfolio --------------*/

/*------------ section progect --------------*/
