.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  &__logo {
    color: $accent-color;
  }
  &__adress {
    margin-top: 20px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $white-color;
  }
}
.footer__logotype {
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 0;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: $white-color;
  &:hover,
  &:focus {
    color: $accent-color;

    transition: color 250ms $timing-function;
  }
}
.footer__contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: $accent-color;

    transition: color 250ms $timing-function;
  }
}
.footer__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.footer__item {
  margin-top: 9px;
  margin-bottom: 0;
}

.footer-social {
  display: flex;
  &__icons {
    margin-left: 70px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }
}
.footer-social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding-left: 0;
  border-radius: 50%;
  fill: $white-color;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: $accent-color;

    transition: background-color 250ms $timing-function;
  }
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.send {
  margin-left: 93px;
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
  }
  &__mail {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: #afb1b8;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    cursor: pointer;
  }
}
.send .send__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  margin-left: 12px;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $white-color;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.send__icon {
  margin-left: 10px;
  margin-right: 28px;
}
