.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header__logotype {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #000000;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: color 250ms $timing-function;
  }
}
.header__logo {
  color: $accent-color;
}
