.portfolio {
  font-family: roboto, sans-serif;
  color: $primary-text-color;
  background-color: $white-color;
}
.filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  &__btn {
    border: none;
    padding: 6px 22px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: #212121;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #2196f3;
      color: $white-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

      transition: background-color 250ms $timing-function, color 250ms $timing-function,
        box-shadow 250ms $timing-function;
    }
  }
}
.filter__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.filter__item + .filter__item {
  margin-left: 8px;
}
.progect {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 30px);
    margin: 0;
    padding: 0;
    margin-bottom: -30px;
    margin-left: -30px;
  }
  &__border {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }
  &__item {
    margin-left: 30px;
    margin-bottom: 30px;
    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      cursor: pointer;

      transition: box-shadow 250ms $timing-function;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }
  &__text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  &__img {
    display: block;
  }
}
.progect__item .overlay__text {
  position: absolute;

  display: inline-block;
  margin: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: $white-color;
}
.progect__overlay {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    transform: translateY(100%);
    transition: opacity 250ms $timing-function, transform 250ms $timing-function;
    content: '';

    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
  }
  .progect__item:hover &::before {
    transform: translateY(0);

    opacity: 1;
  }
}
.progect__item:hover .overlay__text {
  transform: translateY(-100%);
  transition: opacity 250ms $timing-function, transform 250ms $timing-function;
}
