.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms $timing-function, background-color 250ms $timing-function;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;

    fill: $accent-color;

    transition: fill 250ms $timing-function;
  }
}
.clients__item + .clients__item {
  margin-left: 30px;
}
.clients__icon {
  transition: fill 250ms $timing-function, background-color 250ms $timing-function;
}
