.hero {
  padding: 118px 60px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobile.jpg);
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 118px 204px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url(../images/hero-tablet@2x.jpg);
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-desctop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desctop.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url(../images/hero-desctop@2x.jpg);
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-desctop@2x.jpg);
    }
  }

  &__container {
    padding: 0;
    width: auto;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $accent-white-color;
    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.62;
    }
  }
  &__btn {
    margin-top: 30px;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: $accent-color;
    color: $accent-white-color;
  }
  &__btn:hover,
  &__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
