.clients {
  padding: 94px 0;
  @media screen and (max-width: 1199px) {
  padding: 60px 0;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;
  }
  &__list {
      @extend %list;
    @include centeredFlex;
    margin: -15px;
    padding: 0;
  @media screen and (max-width: 1199px) {
flex-wrap: wrap;
  }
  }
  &__item{
   margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
    min-width: 130px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
  }
  &__link {
      @extend %link;
    @include centeredFlex;
    height: 92px;
    
    border: 1px solid $icon-color;
    border-radius: 4px;
    fill: $icon-color;
    transition: fill 250ms $timing-function, border 250ms $timing-function;
  @media screen and (min-width: 1200px) {
width: 170px;
  }
  }
  &__link:hover,
  &__link:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}
