.features {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  &__list {
    @extend %list;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 768px) and (max-width:1199px) {
flex-wrap: wrap;
margin: -15px;
    }
  }
  &__item{
    @media screen and (min-width: 768px) and (max-width:1199px) {
      margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
    text-align: start;

    }
  }
  &__item + &__item {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }
  &__thumb {
    text-align: center;
    padding: 25px 0;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__title {
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    margin-bottom: 0;
    margin-top: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}
