.work {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  &__list {
    @extend %list;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__item {
    position: relative;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__img {
    display: block;
  }
  &__text {
    position: absolute;
    transform: translateY(-100%);

    @include centeredFlex;
    margin: 0;
    width: 370px;
    height: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: $accent-white-color;
  }
}
