.progect {
  &__link {
    @extend %link;
  }
  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 30px);

    padding: 0;
    margin: -15px;
  }

  &__border {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }
  &__item {
    margin: 15px;
    transition: box-shadow 250ms $timing-function;
  }
  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }
  &__text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  &__img {
    display: block;
  }
  &__overlay {
    position: relative;
    overflow: hidden;
  }
  &__link:hover .overlay__text,
  &__link:focus .overlay__text {
    transform: translateY(-100%);
    transition: transform 250ms $timing-function;
  }
}
.overlay__text {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $accent-white-color;
}
