.features {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  @include tablet-max {
    @include padding-section(60px, 60px);
  }
  &__list {
    @extend %list;
    margin: 0;
    padding: 0;
    @include tablet {
      display: flex;
    }
    @include tablet-desctop {
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &__item {
    @include tablet-desctop {
      margin: 15px;
      flex-basis: calc((100% - 4 * 15px) / 2);
      text-align: start;
    }
  }
  &__item + &__item {
    @include desctop {
      margin-left: 30px;
    }
    @include mobile-max {
      margin-top: 30px;
    }
  }
  &__thumb {
    text-align: center;
    padding: 25px 0;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: #f5f4fa;
  }

  &__title {
    margin: 0;
    @include fonts(700, 14px, 1.14, null);
    text-transform: uppercase;

    color: $title-text-color;
    @include tablet {
      text-align: center;
    }
  }
  &__text {
    margin-bottom: 0;
    margin-top: 10px;
    @include fonts(null, 14px, 1.7, null);

    color: $primary-text-color;
  }
}
