.comand {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 94px 0 94px 0;

  background-color: #f5f4fa;
  @media screen and (max-width: 1199px) {
    padding: 60px 0 60px 0;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }
  &__list {
    @extend %list;
    @media screen and (min-width: 768px) {
      margin: -15px;
    }
    padding-left: 0;
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item + &__item {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }
  &__item {
    @media screen and (min-width: 768px) {
      margin: 15px;
    }
     @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
    background: $accent-white-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width: 1199px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
    }
  }
  &__text {
    margin-top: 0;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.comand-title__man-text {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (max-width: 1199px) {
    padding-bottom: 24px;
  }
}
.comand-title__man {
  margin-top: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03e;
  color: $title-text-color;
}
.comand-social {
  &__list {
    @extend %list;
    @include centeredFlex;
    padding-left: 0;
  }
  &__link {
    @extend %link;
    @include centeredFlex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: $accent-white-color;
    fill: $icon-color;
    transition: background-color 250ms $timing-function, fill 250ms $timing-function;
  }
  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
    fill: $accent-white-color;
  }
  &__item {
    border-radius: 50%;
  }
  &__item + &__item {
    margin-left: 10px;
  }
}
